@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
:root{
    --backgroungLight: #020536;
    --background: #040624;
    --text: white;
    --checkbox: rgb(0, 175, 0);   
    --purple: #333763;
    --another: #003531;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Laila", serif; 
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
body > h2{
    color: aqua;
    font-size: 2.2rem;
}
.container{
    height: 60vh;
    width: 50%;
    overflow: auto;
    background-color:rgb(102, 101, 101, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 4px rgb(40, 40, 117);
}
.container::-webkit-scrollbar{
    display: none;
}
.container form{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
}
.container #todo_text{
    margin-top: 30px;
    margin-bottom: 40px;
    height: 6.5vh;
    width: 76.5%;
    border-radius: 8px;
    border: none;
    background-color: var(--background);
    padding: 0 10px;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    border: 1px solid var(--purple);
}
.container button{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    color:white;
    background-color: var(--purple);
    margin-bottom: 5px;
    font-weight: 500;
}
.container ul{
    margin-top: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}
.complete #todo_info{
    text-decoration: line-through;
    color:rgb(109, 250, 255);
}
.container ul li{
    width: 85%;
    height: 5vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 0 10px;
    color: white;
    border-radius: 5px;
}
.container ul li p{
    width: 30vw;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container ul li .input_p{
    display: flex;
    gap: 1vw;
}
.container ul li .icons{
    display: flex;
    gap: 1vw;
    cursor: pointer;
}
.icons #edit{
    color: gold;
}
.icons #delete{
    color: rgb(235, 8, 8);
}
#checkbox{
    cursor: pointer;
}